@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Poppins:wght@300&family=REM:wght@300&display=swap');

.main{
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    text-align: center;
}
